<h1 class="text-center">Create a New Event</h1>
<br>
<div class="form-div form">
<%= form_for :event, :url => { :action => "create" }, :html => { :id => "event_form" } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<%end%>
</div>
<br/>
<hr/>
<div id="eventResult">
  <h2 id="eventName"></h2>
  <p id="eventDate"></p>
  <p id="eventStart"></p>
  <p id="eventEnd"></p>
  <p id="eventDescription"></p>
</div>



