<%= week_calendar(attribute: :starts_at) events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.short_description %>
    </div>
  <% end %>
<% end %>
