<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to "Next", user_calendar_path(date: @date - 1.week), class: "btn btn-default"%>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to "Previous", user_calendar_path(date: @date + 1.week), class: "btn btn-default"%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul>
      <% @events_by_date[date].each do |event| %>
        <%= link_to event.short_description, user_event_path(event) %>

      <% end %>
    </ul>
  <% end %>
    <% end %>
  </div>
</div>
