<h2>Users Who Added You</h2>

<ul>
  <% not_added_back.each do |user|%>
  <li><%=user.email %></li>
      <%= button_to('Add', { controller: "friendship", action: :create, friendship: {user_id: user.id} }, class: "button", method: :post )%>
  <% end %>
</ul>
