<h2>Your Friends</h2>

<ul>
  <% if any_friends?%>
  <%current_user.friendships.each do |friend|%>
  <% user = User.find_by(id: friend.friend_id) %>
  <li><%=user.email%></li>
  <% end%>
  <%else %>
  None found! <%=link_to "Add Friends", new_user_friendship_path%>
  <% end %>
</ul>
<br>
<%= render partial: 'users_who_added_me' %>
